.forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.forget-password .content {
  background-color: white; 
  border: 2px solid #d76da4; 
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 4px 10px rgba(215, 109, 164, 0.4); 
  width: 100%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white; 
}

.content label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #5a1846; 
}

.content input.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #e79ac6;
  background-color: #ffe0f0; 
  color: #5a1846;
  box-sizing: border-box;
}

.content input.form-control::placeholder {
  color: #b874a4;
}

.confirm_btn {
  padding: 10px 20px;
  border: none;
  background-color: #d76da4; 
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm_btn:hover {
  background-color: #c05492; 
}