.lottery{
    height: 65vh;
    width: 80%;
    left: 10%;
    top: 5rem;
    position: relative;
    border-radius: 15px;
}

.lottery-wrapper {
    /* max-width: 500px; */
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .lottery-table {
    width: 70%;
    border-collapse: collapse;
    background-color: transparent ;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .lottery-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  
  .number-block {
    margin-right: 15px;
    display: inline-block;
    font-weight: bold;
    color: white;
  }
  .gdb {
    font-size: 24px;
    color: red;
  }

  .lottery-bet {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 400px;
    margin: auto;
  }
  
  .lottery-bet h4 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #444;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: #888;
    cursor: not-allowed;
  }