.home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
  width: 80%;
  height: 70vh;
  left: 11%;
  top: 5rem;
  position: relative;
}

.home div {
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/*******************************************/

.football {
  grid-column: span 3 / span 3;
  grid-row: span 5;
  overflow: hidden;
  overflow-y: auto;
}

.football::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  right: 0;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 8px;
}

.match-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.match-time {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  flex-direction: column;
}

.match-time span {
  display: block;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.team {
  display: flex;
  align-items: center;
  gap: 8px;
}

.team-logo {
  width: 20px;
  height: 20px;
}

.match-odds {
  display: flex;
  gap: 15px;
}

.odd-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odds {
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.green {
  color: #4caf50;
}

.red {
  color: #ff4d4d;
}

.yellow {
  color: #ffcc00;
}

/*******************************************/

.lottery {
<<<<<<< HEAD
  grid-column: span 3 / span 3;
  grid-row: span 8 / span 8;
  grid-column-start: 4;
  overflow: hidden;
  overflow-y: auto;
=======
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    overflow: hidden;
    overflow-y: auto;
}
.lottery::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  right: 0;
}
.lottery-wrapper {
  /* max-width: 500px; */
  margin: 20px auto;
  font-family: Arial, sans-serif;
>>>>>>> f616b41029726d94c9d2d669a918a877dd58d357
}
.lottery::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  right: 0;
}
.lottery-wrapper {
  /* max-width: 500px; */
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.lottery-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.lottery-table td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

.number-block {
  margin-right: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
}
.gdb {
  font-size: 24px;
  color: red;
}

/* ************************************ */

/* .static {
  grid-column: span 2;
  grid-row: span 5;
  grid-column-start: 5;
  grid-row-start: 4;
} */

/* ************************************ */

.lottery-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent ;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.lottery-table td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

.number-block {
  margin-right: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
}
.gdb {
  font-size: 24px;
  color: red;
}



/*******************************************/
.games {
  grid-column: span 3;
  grid-row: span 3 / span 3;
  grid-row-start: 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  overflow: hidden;
  overflow-y: auto;
  gap: 0.5rem;
}
.games::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  right: 0;
}
.game-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.game-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.game-item:hover img {
  transform: scale(1.1);
}
.game-item:hover .game-title {
  opacity: 1;
}
.game-title {
  position: absolute;
  font-size: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
